   /* General Styles */

   * {
    box-sizing: border-box;
  }
  
  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-lightGray: #f9f9f9;
    --color-dark: #f9f9f9;
    --color-darkGray: #333333;
    --color-primary: #000;
    --header-height: 7.5rem; /* 120px */
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-lightGray);
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
  }
  
  .body--noscroll {
    overflow: hidden;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-dark);
  }
  
  .container {
    max-width: 1500px;
    margin: auto;
  }
  
  /* Spacing Rules */
  .container-pall { /* all */
    padding: 0.875rem 4.5625rem;
    background-color: #f6f8fb;
  }
  
  .container-py { /* y-axis */
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .container-pt { /* top */
    padding-top: 1.875rem;
  }
  .container-pb { /* bottom */
    padding-top: 1.875rem;
  }
  
  .container-px { /* x-axis */
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  .container-pl { /* left */
    padding-left: 1.5625rem;
  }
  .container-pr { /* right */
    padding-right: 1.5625rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-jc-sp {
    justify-content: space-between;
  }
  
  .flex-jc-c {
    justify-content: space-between;
  }
  
  .flex-ai-c {
    align-items: center;
  }
  
  /* Visibility */
  @media (min-width: 48rem) { /* 768px */
    .hide-for-desktop {
      display: none;
    }
  }
  
  @media (max-width: 47.9375rem) { /* 767px */
    .hide-for-mobile {
      display: none;
    }
  }
  
  /* End General Styles */
  
  .header {
    background-color: #2865bf;
    border-bottom: 2px solid #e0520e;
  }
  
  .nav {
    height: 60%;
    flex-wrap: wrap;
  }
  
  @media (max-width: 18.75rem) { /* 300px */
    .nav {
      justify-content: center;
    }
  }
  
  .header__logo {
    font-size: 1.275rem; /* 30px */
    font-weight: 500;
  }
  
  .toggle-menu {
    position: relative;
    z-index: 1000;
    min-width: 8.125rem; /* 130px */
    min-height: 3.125rem; /* 50px */
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    box-shadow: 2px 2px 0 var(--color-dark);
    padding: 0 1.5625rem; /* 0 25px */
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .header--active .toggle-menu {
    background-color: var(--color-white);
    box-shadow: none;
  }
  
  .toggle-menu:hover{
    opacity: 0.7;
  }
  
  .toggle-menu__dots {
    width: 1.375rem; /* 22px */
    height: 0.9375rem; /* 15px */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px 0px;
    transition: all 300ms ease-in-out;
  }
  
  .header--active .toggle-menu__dots {
    transform: scale(0.9);
  }
  
  .toggle-menu__dot {
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: var(--color-dark);
    border-radius: 50%;
  }
  
  .toggle-menu__text {
    font-size: 1.1rem; /* 17.6px */
    font-weight: 700;
  }
  
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    background-image: radial-gradient(circle, rgb(255 255 255) 40%, rgb(208 208 208) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  
  @media (min-width: 48rem) { /* 768px */
    .menu {
      position: static;
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      width: auto;
      height: auto;
      background-color: transparent;
      background-image: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
  
  /* Open Menu */
  .header--active .menu {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  
  .menu__item {
    list-style-type: none;
  }
  
  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem; /* 30px */
  }
  
  @media (min-width: 48rem) { /* 768px */
    .menu__item:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 2.5rem; /* 40px */
    }
  }
  
  .menu__link {
    font-size: 1.05rem; /* 20px */
    font-weight: 400;
    transition: all 200ms ease-in-out;
  }
  
  .menu__link:hover {
    color: var(--color-primary);
  }
  
  .menu__link--primary {
    font-weight: bold;
    color: var(--color-primary);
  }
  
  .menu__link--primary:hover {
    color: var(--color-dark);
  }
  
  .hero {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  @media (max-width: 18.75rem) { /* 300px */
    .hero {
      text-align: center;
    }
  }
  
  @media (min-width: 48rem) { /* 768px */ 
    .hero {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  
  
  .hero__illustration-image {
    width: min(19.25rem, 100%); /* 308px - 100% */
    height: min(18.8125rem, 100%); /* 301px - 100% */
  }
  
  
  @media (min-width: 48rem) { /* 768px */ 
    .hero__illustration-image {
      width: 23.125rem; /* 370px */
      height: auto;
      margin-left: 3.125rem; /* 50px */
    }
  }
  
  @media (min-width: 64rem) { /* 1024px */
    .hero__illustration-image {
      width: 31.25rem; /* 500px */
    }
  }
  
  .hero__text {
  
  }
  
  @media (min-width: 64rem) { /* 1024px */
    .hero__text {
      width: 31.25rem; /* 500px */
    }
  }
  
  .hero__heading {
    font-size: 1.875rem; /* 30px */
    font-weight: 400;
    line-height: 1.6;
  }
  
  @media (min-width: 64rem) { /* 1024px */
    .hero__heading {
      font-size: 2.0rem;
      font-weight: 700;
    }
  }
  
  .hero__description {
    font-size: 1.1875rem; /* 19px */
    line-height: 1.7;
  }
  
  .hero__cta {
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    padding: 0.9375rem 1.875rem; /* 15px - 30px */
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    transition: all 300ms ease-in-out;
  }
  
  .hero__cta--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 2px 2px 0 var(--color-dark);
  }
  
  .hero__cta--primary:hover,
  .hero__cta--primary:focus {
    background-color: var(--color-white);
    color: var(--color-dark);
    box-shadow: none;
  }

  .flex-box {
    display: flex;
    flex-flow: row wrap;
  }
  
  .flex-box #myCarousel{
    flex: 1 1 50%
  }
  
  .flex-box #desc {
    flex: 1 1 50%;
  }

  @media only screen and (min-width: 768px) {
    iframe{
      height: 13em;
    }
    .card{
      width: 50%;
    }
  }

  #graph-container {
    min-width: 300px;
    max-width: 800px;
    height: 300px;
    margin: 1em auto;
  }

  .highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.ld-label {
	width:200px;
	display: inline-block;
}

.ld-url-input {
	width: 500px; 
}

.ld-time-input {
	width: 40px;
}

.green {
  color: #24c279 !important;
}

.red {
  color: #bc2929 !important;
}

.metric {
  float: left;
  margin-right: 50px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 15px #a9bacb;
  width: 270px;
  margin-left: 10px;
  margin-top:5px;
  overflow: hidden;
}
.metric .metric-inner header.metric-header {
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  height: 45px;
  padding: 10px;
  line-height: 60px;
  width: 100%;
}

.metric .metric-inner header.metric-header-1 {
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  height: 65px;
  padding: 10px;
  line-height: 60px;
  width: 100%;
}
.metric .metric-inner header.metric-header-1 h1.metric-title {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 22px;
}

.metric .metric-inner header.metric-header h1.metric-title {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 22px;
}
.metric .metric-inner .metric-body {
  width: 100%;
  height: 210px;
  overflow: hidden;
}
.metric .metric-inner .metric-body h1,
.metric .metric-inner .metric-body h2,
.metric .metric-inner .metric-body h3,
.metric .metric-inner .metric-body h4 {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-weight: 400;
  color: #444;
  text-align: center;
}
.metric .metric-inner .metric-body h1 {
  font-size: 70px;
  font-weight: 300;
}
.metric .metric-inner .metric-body h1.primary-value {
  color: #5bc1de;
}
.metric .metric-inner .metric-body h2 {
  color: #888;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.metric .metric-inner .metric-body h3 {
  font-size: 22px;
  font-weight: 500;
  color: #666;
}
.metric .metric-inner .metric-body h4 {
  font-size: 14px;
  color: #666;
}
.metric .metric-inner .viz-basic {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.metric .metric-inner .viz-basic .value {
  text-align: center;
}
.metric .metric-inner .viz-basic-with-7-and-40-day-comparison {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.metric .metric-inner .viz-basic-with-7-and-40-day-comparison .value {
  width: 100%;
}
.metric .metric-inner .viz-basic-with-7-and-40-day-comparison .value .comparison_wrapper {
  padding-top: 15px;
  width: 90%;
  margin: 0px auto;
}
.metric .metric-inner .viz-basic-with-7-and-40-day-comparison .value .comparison_wrapper .left_comparison {
  float: left;
  margin-left: -10px;
  width: 50%;
}
.metric .metric-inner .viz-basic-with-7-and-40-day-comparison .value .comparison_wrapper .right_comparison {
  float: right;
  margin-left: -10px;
  width: 50%;
}
.metric .metric-inner .viz-line-chart {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.metric .metric-inner .viz-line-chart .value .chart {
  width: 100%;
  height: 100px;
}
.metric .metric-inner .viz-column-chart {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.metric .metric-inner .viz-column-chart .value .chart {
  width: 100%;
  height: 200px;
}

.divider{
  border-left: 1px solid #DDD;
}
