{% extends 'base.html' %}
{% block title %}
Emotion Analysis
{% endblock %}
{% block content %}
<!-- Hero Section -->

<section class="hero container container-pall">
  <div class="hero__image" style="width:50%;">
    <div class="row">
      <div class="col-md-3 metric">
        <div class="metric-inner">
          <header class="metric-header">
            <h1 class="metric-title">Happiness Index</h1>
          </header>
      
          <div class="metric-body viz-basic-with-7-and-40-day-comparison">
            <div class="value">
              <div class="current-value">
                <h1 class="primary-value">78%</h1>
              </div>
              <div class="comparison_wrapper">
                <div class="left_comparison">
                  <h4><b>Individual Level</b></h4>
                  <h3 class="green">&#9650; 77.5%</h3>
                  <h4>Rollup 7 days</h4>
                </div>
                <div class="right_comparison">
                  <h4><b>Org Level</b></h4>
                  <h3 class="green divider">&#9650; 80%</h3>
                  <h4 class="divider">Rollup 7 days</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 metric">
        <div class="metric-inner">
          <header class="metric-header">
            <h1 class="metric-title">High Stress Window</h1>
          </header>
          <div class="metric-body viz-basic-with-7-and-40-day-comparison">
            <div class="value">
              <div class="current-value">
                <h1 class="primary-value">3-4 PM</h1>
              </div>
              <div class="comparison_wrapper">
                <div class="primary-value">
                  <h3><b>Rollup 7 days</b></h3>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="comparison_wrapper" style="margin-top: 38px;margin-left: 15px;">
            <div class="left_comparison">
              <h1 class="primary-value" style="
              color: #5bc1de;
          ">Wed 3-4 PM</h1>
            </div>
            <div class="right_comparison">
              <h1 class="primary-value" style="
              color: #5bc1de;
          ">Thr 7-8 PM</h1
            </div>-->
            
        </div>
      </div>
      <div class="col-md-3 metric">
        <div class="metric-inner">
          <header class="metric-header-1">
            <h1 class="metric-title">Users Actively Monitoring Stress</h1>
          </header>
      
          <div class="metric-body viz-basic-with-7-and-40-day-comparison">
            <div class="value">
              <div class="current-value">
                <h1 class="primary-value">3000</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 metric">
        <div class="metric-inner">
          <header class="metric-header">
            <h1 class="metric-title">Recovering Aid Today</h1>
          </header>
      
          <div class="metric-body viz-basic-with-7-and-40-day-comparison">
            <div class="value">
              <div class="current-value">
                <h1 class="primary-value">500</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    </div>

  <div class="hero__text">
    <p class="hero__description">Stress has become a significant cause for many diseases</p>
    <p class="hero__description">
      Let's monitor stress and follow relaxation aids to keep well on our mental health.
    </p>
    <p class="hero__description">Enable 'Monitor My Stress' by clicking link below</p>
    <div class="center">
      <button id="startStopBtn" type="button" class="btn btn-primary" onclick="startStopCaptureImage(event)">Monitor My
        Stress</button>
    </div>
    <figure class="highcharts-figure">
      <div id="container" style="width:100%;height:280px;"></div>
      
    </figure>
    <!--<div class="MT15">
      <h4 class="tplhead" style="margin-bottom:5px;"><b>Metrics</b></h4>
      <table cellpadding="0" cellspacing="0" width="70%" class="table">
        <tbody>
          <tr>
            <td><span class="txt10">Users Actively Monitoring Stress</span></td>
            <td colspan="2"><b>30000</b></td>
          </tr>
          <tr>
            <td>Users visited aid today</td>
            <td colspan="2"><b>500</b></td>
          </tr>
        </tbody>
      </table>
    </div>-->
  </div>
</section>

<script type="text/javascript">
  // Select Body Element (Both Is Good)
  // const body = document.querySelector('.body');
  const body = document.body;

  // Select Header
  const header = document.querySelector('.header');

  // Select Toggle-Menu Element
  const toggleMenu = document.querySelector('.toggle-menu');

  // When Click On Toggle-Menu Element Call Function [OpenMenu]
  toggleMenu.addEventListener('click', openMenu);

  // Open-Menu Function
  function openMenu() {
    // If The Header Contains Class (header--active)
    if (header.classList.contains('header--active')) {
      // Remove Class (header--active) From Header
      header.classList.remove('header--active');
      // Remove Class (body--noscroll) From Body
      body.classList.remove('body--noscroll');
    } else { // Else
      // Add Class (header--active) On Header
      header.classList.add('header--active');
      // Add Class (body--noscroll) On Body
      body.classList.add('body--noscroll');
    };
  };
  var countdown;
  var activity;
  var emotion_Type;
  function startStopCaptureImage(e) {
    e.preventDefault();
    if ($("#startStopBtn").html() === "Stop Monitor My Stress") {
      $("#startStopBtn").html("Monitor My Stress");
    } else {
      $("#startStopBtn").html("Stop Monitor My Stress");
      registerEvent();
    }
  }
  function registerEvent() {
    let interval = 5;
    countdown = window.setInterval(() => {
      interval--;
      if (interval === 0) {
        clearInterval(countdown);
        if (activity != undefined) {
          $('#exampleModalCenter').on('show.bs.modal', function (event) {
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            if (emotion_Type == 'Happy' || emotion_Type == 'Neutral') {
              modal.find('.modal-body').text("Seems like you are doing well but still do you want moment of break");
            } else if (emotion_Type != 'Happy' && emotion_Type != 'Neutral') {
              modal.find('.modal-body').text("Seems like your stress levels are high! Do you want moment of break/relaxation");
            }
          });
          $("#exampleModalCenter").modal("show");
        } else {
          registerEvent();
        }
      } else {
        //alert("test");
        $.ajax({
          type: "POST",
          dataType: "json",
          //data: { 'name': 'Payam' },
          url: "/snaptakeimage",
          success: function (data) {
            if (activity == null && data.activity != null) {
              activity = data.activity;
              emotion_Type = data.emotion_Type;
            }
            else if (data != undefined && data.activity != undefined && activity != data.activity) {
              activity = data.activity;
              emotion_Type = data.emotion_Type;
            }
          }
        });
      }
    }, 50000);
  }
  function stopCaptureImage() {
    window.clearInterval(countdown);
  }

  var defaultData = 'https://demo-live-data.highcharts.com/time-data.csv';
  //var urlInput = document.getElementById('fetchURL');
  var pollingCheckbox = true;
  var pollingInput = 2;
  var happyIndicatorArray = [65, 60, 70, 75, 76, 77 ,78 , 79, 80, 82, 84];
  function createChart() {
    Highcharts.chart('container', {
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {

                // set up the updating of the chart each second
                var series = this.series[0];
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                        y = happyIndicatorArray[10]+1;
                    series.addPoint([x, y], true, true);
                }, 100000);
            }
        }
    },

    time: {
        useUTC: false
    },

    title: {
        text: 'Stress Analysis'
    },

    accessibility: {
        announceNewData: {
            enabled: true,
            minAnnounceInterval: 15000,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
                if (newPoint) {
                    return 'New point added. Value: ' + newPoint.y;
                }
                return false;
            }
        }
    },

    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },

    yAxis: {
        title: {
            text: 'Value'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },

    tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
    },

    legend: {
        enabled: false
    },

    exporting: {
        enabled: false
    },
    

    series: [{
        name: 'Time',
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;
            counter =0;
            for (i = -1000; i <= 0; i += 100) {
                data.push({
                    x: time + i * 1000,
                    y: happyIndicatorArray[counter]
                });
                counter++;
            }
            return data;
        }())
    }]
});
  }

  //urlInput.value = defaultData;

  // We recreate instead of using chart update to make sure the loaded CSV
  // and such is completely gone.
  //ollingCheckbox.onchange = urlInput.onchange = pollingInput.onchange = createChart;

  // Create the chart
  createChart();




  // (:
</script>
{% endblock %}
<!-- End Hero Section -->