{% extends 'base.html' %}
{% block title %}
Real Time Image Capture
{% endblock %}
{% block content %}
 <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }


    h1 {
      text-align: center;
      color: white
    }

    h3 {
      text-align: center;
      color: white;
    }

    p {
      text-align: center;
    }

    div {
      text-align: center;

    }

    .mySlides {
      display: none;
    }

    .button {
      background-color: #03506F;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 1px 1px;
      cursor: pointer;

    }
  </style>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
        <p class="hero__description">We couldn't able to detect your emotion!! Do you want to try again?</p>
        <div class="center">
          <form action="/takeimage" method="post">
              <button type="submit" class="btn btn-primary">Capture My Emotion</button>
          </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}
<!-- Optional JavaScript; choose one of the two! -->