{% extends 'base.html' %}
{% block title %}
Real Time Image Capture
{% endblock %}
{% block content %}
 <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }


    h1 {
      text-align: center;
      color: white
    }

    h3 {
      text-align: center;
      color: white;
    }

    p {
      text-align: center;
    }

    div {
      text-align: center;

    }

    .mySlides {
      display: none;
    }

    .button {
      background-color: #03506F;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 1px 1px;
      cursor: pointer;

    }
  </style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <img class="img-thumbnail" src="{{ url_for('video_feed') }}">
    </div>
    <div class="col-md-6">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary">Stop/Start</button>
          <button type="button" class="btn btn-primary">Capture</button>
          <button type="button" class="btn btn-primary">Monitor My Stress</button>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}
<!-- Optional JavaScript; choose one of the two! -->