{% extends 'base.html' %}
{% block title %}
Emotion Analysis
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row .shadow-2-strong">
          <!--<div class="col-md-8">
            <div id="graph-container" style="width:1000px;height:570px;padding-top:10px;"></div>
        </div>-->
        <div class="col-md-6">
            <h3  style="color:black" >Input Image</h3>
            <img src="/static/images/capture.jpg" alt="Original" style="width:400px;height:500px;">
        </div>
        <div class="col-md-6">
            <h3  style="color:black">Prediction</h3>
            <img src="/static/images/pred_capture.jpg" alt="Prediction" style="width:400px;height:500px;">
        </div>
        <div class="col-md-8">
            <div style="padding:5px;" >
              <img src="/static/images/{{bar}}" alt="Visualisation"/>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Happy</th>
                    <th scope="col">Neutral</th>
                    <th scope="col">Other</th>
                   </tr>
                </thead>
                <tbody>
                    <tbody>
                        <!-- Your rows inside the table HERE: -->
                        {% for image in imageanalysis %}
                            <tr>
                                <td>{{ image.imageid }}</td>
                                <td>{{ "%.2f"|format(image.Happy*100)}}</td>
                                <td>{{ "%.2f"|format(image.Neutral*100)}}</td>
                                <td>{{ "%.2f"|format(image.Angry*100 +image.Surprise*100 + image.Sad*100 + image.Disgust*100 + image.Fear*100) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </tbody>
              </table>
        </div>
    </div>    
</div>  
<script>
    const chart = Highcharts.chart('graph-container', {
  title: {
    text: 'Face Emotion Recognition',
    x: -20 //center
  },
  xAxis: {
    categories: ['Angry', 'Happy', 'Sad', 'Neutral', 'Surprise', 'Disgust',
      'Fear'
    ]
  },
  yAxis: {
    title: {
      text: 'Types of Emotions'
    },
    plotLines: [{
      value: 0,
      width: 1,
      color: '#808080'
    }]
  },
  tooltip: {
    valueSuffix: '°C'
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle',
    borderWidth: 0,
    showInLegend: false
  },
  series: [{
    marker: {
      fillColor: 'transparent',
      lineColor: Highcharts.getOptions().colors[0]
    },
    data: [...Array(7)].map(Math.random)
  }, {
    marker: {
      fillColor: 'transparent'
    },
    data: [...Array(7)].map(Math.random)
  }, {

    data: [...Array(7)].map(Math.random)
  }, {
    lineColor: 'red',
    data: [...Array(7)].map(Math.random)
  }]
})
    </script>
{% endblock %}
  <!-- End Hero Section -->