{% extends 'base.html' %}
{% block title %}
Graph Visualisation
{% endblock %}
{% block content %}
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      text-align: center;
      color: yellow
    }

    h3 {
      text-align: center;
      color: white;
    }

    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
</head>

<body>
  <div class="banner-text" >
    <div style="color:white" class="animation-area" style="height: 100vh;">
    <div style="padding-top:20px;display:flex;align-items:center;
      justify-content:center;text-align:center;" >
        <div class="container" style="padding:20px;" >
          <h3  style="color:black" >Input Image</h3>
          <img src="/static/{{orig}}" alt="Original" style="width:400px;height:500px;">
        </div>
        <div class="container" style="padding:20px;">
          <h3  style="color:black">Prediction</h3>
          <img src="/static/{{pred}}" alt="Prediction" style="width:400px;height:500px;">
        </div>
        <div class="container" style="padding:20px;" >
          <h3  style="color:black">Visualisation</h3>
          <img src="/static/{{bar}}" alt="Visualisation" style="width:400px;height:500px;padding-top:20px;"/>
        </div>
      </div>
      </div> 
</div>
{% endblock %}
